<footer>
    <div class="box-footer">
        <div class="div-footer">
            <i class="fas fa-credit-card color-i-footer"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="div-footer">
            <i class="fas fa-gift color-i-footer"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="div-footer">
            <i class="fas fa-user-shield color-i-footer"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </div>
    <div class="design-footer">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>