<header>
    <div id="top-header" class="div-header">
        <div id="logo">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" id="img-size" alt="Logo"></a>
        </div>
        <div id="search-bar">
            <form action="/" method="GET">
                <input class="design-search" type="text" name="keywords" placeholder="Buscar productos, marcas">
                <button type="submit" class="button-search">
                    <i class="fas fa-search" aria-hidden= "true">
                    </i>
                </button>
            </form> 
        </div>
        <div class="top-header-p">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <nav id="navbar" class="hidden nav-design" >
        <ul class="side-nav">
            <li><a href="/products">Todos los productos </a></li>
            <li><a href="#">Ofertas </a></li>
            <li><a href="#">Tiendas Oficiales </a></li>
            <li><a href="#">Vender </a></li>
            <li><a href="#">Ayuda </a></li>
        </ul>
        
        <ul class="login-nav">
            <li><a href="/register">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>

    </nav>
    <div id="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <hr>
</header>